<div  ng-controller="movieListCtrl" class="row" ng-repeat="movie in movies" style="margin:20px ; background-color:#555">
	<div class="col-sm-6 text-center" style="padding:10px;background-color:#666">
		<img ng-src="/assets/{{movie.movieName}}.jpg">	
	</div>
	<div class="col-sm-6 " style="padding:20px;background-color:#777">
		<div class="row" style="margin:10px ;background-color:#999">
			<div class="col-sm-6" style="padding:10px">
				<h2>{{movie.movieName}}</h2><br>
			</div>
			<div class="col-sm-6 text-center" style="padding:10px">
				<h2>{{movie.movieRatings}}</h2>
			</div>
		</div>
			
			<h4>{{movie.movieDescription}}</h4>	
		<div class="row" style="margin:10px ;background-color:#999">
			<div class="col-sm-8" style="padding:5px">
				<h5>{{movie.movieGenre}}</h5>
			</div>
			<div class="col-sm-4 text-center" style="padding:5px">
				<h5>{{movie.movieDuration}} min</h5>
			</div>
		</div>
	</div>
</div>
